<!-- <h3>Login</h3>

<form class="form">
  <label class="label">Email</label>
  <input
    class="inbox"
    type="email"
    placeholder="name"
    [(ngModel)]="this.model.email"
    [ngModelOptions]="{ standalone: true }"
  />
  <label class="label">Password</label>
  <input
    class="inbox"
    type="string"
    placeholder="name"
    [(ngModel)]="this.model.password"
    [ngModelOptions]="{ standalone: true }"
  />
  <button class="button" (click)="signIn()">Login</button>
</form> -->

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1 style="padding-top: 30px; padding-bottom: 10px">LOG IN</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
        [(ngModel)]="this.model.email"
        [ngModelOptions]="{ standalone: true }"
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
        [(ngModel)]="this.model.password"
        [ngModelOptions]="{ standalone: true }"
      />
      <input
        type="submit"
        class="fadeIn fourth"
        value="Log In"
        (click)="signIn()"
      />

      <label id="footer" (click)="gotoSignUP()"
        >Don't have an account? Sign UP now!</label
      >

      <div style="color: red" class="alert" *ngIf="serverErrorMessages">
        {{ this.serverErrorMessages }}
      </div>
    </form>
  </div>
</div>
